header {
    position: relative;
    margin-top:85px;
    margin-bottom:55px;
    z-index:2;
    @media only screen and (max-width: 991px) {
        margin-top:25px;
        margin-bottom:33px;
    }
    .logo {
        cursor: pointer;
    }
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header_menu {
        font-size: 1.125rem;
        display: flex;
        gap:40px;
        a {
            color:var(--Dark-grayish-blue);
            &:hover {
                color:var(--Soft-red);
            }
        }
        .active {
            a {
                color:var(--Soft-red);
            }
        }
        @media only screen and (max-width: 991px) {
            display: none;
        }
    }
}
